**/node_modules
**/npm-debug.log
**/package-lock.json
**/.next
Dockerfile
.dockerignore
.git
.gitignore
.vercel
README.md
coverage
.env.local
.env.development.local
.env.test.local
.env.production.local